html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  background-color: aliceblue;
}

html body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #333333;
}

html body .App {
  height: 100%;
  width: 100%;
  background-color: #333333;
}

html body .App .Greeting {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff9966), to(#ff5e62));
  background: linear-gradient(#ff9966, #ff5e62);
  background-size: cover;
  width: 100%;
  height: 21.5rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

html body .App .Greeting .Container {
  position: relative;
  width: 100%;
  height: 100%;
}

html body .App .Greeting .Container .Message {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.308);
  color: rgba(240, 248, 255, 0.918);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -160%);
          transform: translate(-50%, -160%);
  text-align: center;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 1rem;
}

html body .App .Greeting .Container .Message #Separator {
  margin: 0;
  padding: 0;
}

html body .App .Greeting .Container .Message p {
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

html body .App .Greeting .Container .link-container {
  text-align: center;
}

html body .App .Greeting .Container .link-container .links {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-decoration: none;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
}

@media screen and (max-width: 700px) {
  html body .App .Greeting .Container .link-container .links {
    -webkit-transform: translate(-50%, -90%);
            transform: translate(-50%, -90%);
  }
}

html body .App .Greeting .Container .link-container .links .link-item {
  display: inline-block;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  margin: 0;
  margin-bottom: 10px;
}

html body .App .Greeting .Container .link-container .links .link-item .fab {
  padding: 10px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 30%;
  -webkit-transition: padding 0.4s ease-in-out;
  transition: padding 0.4s ease-in-out;
}

html body .App .Greeting .Container .link-container .links .link-item .far {
  padding: 10px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 30%;
  -webkit-transition: padding 0.4s ease-in-out;
  transition: padding 0.4s ease-in-out;
}

html body .App .Greeting .Container .link-container .links .link-item .fa-linkedin-in {
  border: 2px solid white;
  color: aliceblue;
}

html body .App .Greeting .Container .link-container .links .link-item .fa-gitlab {
  border: 2px solid white;
  color: aliceblue;
}

html body .App .Greeting .Container .link-container .links .link-item .fa-envelope {
  border: 2px solid white;
  color: aliceblue;
}

html body .App .Greeting .Container .link-container .links .link-item .fa-user {
  border: 2px solid white;
  color: aliceblue;
}

html body .App .Greeting .Container .link-container .links .link-item :hover {
  padding: 15px;
}

html body .App .Greeting .navbar {
  position: relative;
  padding: 0;
  margin: 0 auto;
  width: 80%;
  height: 4rem;
  background-color: #333333;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-bottom-color: black;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  html body .App .Greeting .navbar {
    height: 5.5rem;
  }
}

html body .App .Greeting .navbar .nav {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-decoration: none;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
}

html body .App .Greeting .navbar .nav li {
  background: none;
  margin: 0 3rem 0 3rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: inline-block;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0 0 0 0;
  text-decoration: none;
  color: aliceblue;
  letter-spacing: 2px;
  transition: letter-spacing 0.5s ease-in-out;
  -webkit-transition: letter-spacing 0.5s ease-in-out;
}

@media screen and (max-width: 700px) {
  html body .App .Greeting .navbar .nav li {
    margin: 0 0.5rem 0 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
}

html body .App .Greeting .navbar .nav li:hover {
  border: 2px solid aliceblue;
  font-weight: bolder;
  border-radius: 30px 30px 30px 30px;
  letter-spacing: 7px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff9966), to(#ff5e62));
  background-image: linear-gradient(to right, #ff9966, #ff5e62);
}

html body .App .page-content .grid-animation-appear {
  opacity: 0;
}

html body .App .page-content .grid-animation-appear-active {
  opacity: 1;
  -webkit-transition: opacity 2000ms linear;
  transition: opacity 2000ms linear;
}

html body .App .page-content .grid-animation-enter {
  opacity: 0;
}

html body .App .page-content .grid-animation-enter-active {
  opacity: 1;
  -webkit-transition: opacity 2000ms linear;
  transition: opacity 2000ms linear;
}

html body .App .page-content .grid-animation-exit {
  opacity: 1;
}

html body .App .page-content .grid-animation-exit-active {
  opacity: 0;
  -webkit-transition: opacity 2000ms linear;
  transition: opacity 2000ms linear;
}

html body .App .page-content .grid-animation-exit-done {
  opacity: 0;
  -webkit-transition: opacity 2000ms linear;
  transition: opacity 2000ms linear;
}

html body .App .page-content .grid-container {
  display: -ms-grid;
  display: grid;
  padding: 40px 20px 40px 20px;
  -ms-grid-columns: 3, 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  text-align: center;
  color: #ff5e62;
}

@media screen and (max-width: 700px) {
  html body .App .page-content .grid-container {
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

html body .App .page-content .grid-container .grid-item {
  position: relative;
  border: 2px solid aliceblue;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  height: 450px;
  color: #4e5153;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  html body .App .page-content .grid-container .grid-item {
    height: 300px;
  }
}

html body .App .page-content .grid-container .grid-item #musicChoice {
  cursor: pointer;
}

html body .App .page-content .grid-container .grid-item h3 {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  border: 2px solid aliceblue;
  color: aliceblue;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 30px 30px 30px 30px;
  letter-spacing: 7px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff9966), to(#ff5e62));
  background-image: linear-gradient(to right, #ff9966, #ff5e62);
  margin: 1rem;
}

html body .App .page-content .grid-container .music {
  max-height: calc(100% - 1rem - 5px - 38px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

html body .App .page-content .grid-container .music::-webkit-scrollbar {
  display: none;
  -webkit-overflow-scrolling: touch;
}

html body .App .page-content .grid-container .music {
  -ms-overflow-style: none;
}

html body .App .page-content .grid-container #home #skills div {
  display: inline-block;
  text-align: center;
}

html body .App .map {
  text-align: center;
}

html body .App .map #mapMsg {
  display: inline-block;
  padding: 5px 10px 5px 15px;
  border: 2px solid aliceblue;
  color: aliceblue;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 30px 30px 30px 30px;
  letter-spacing: 7px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff9966), to(#ff5e62));
  background-image: linear-gradient(to right, #ff9966, #ff5e62);
  margin: 20px 20px;
}

html body .App .map .mapContainer {
  margin-left: 20px;
  margin-right: 20px;
  height: 400px;
  width: auto;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border: 2px solid aliceblue;
  margin-bottom: 1rem;
}

html body .App .map .mapContainer .mapboxgl-canvas {
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
}

html body .App .map .mapContainer .mapboxgl-popup {
  letter-spacing: 1px;
  font-weight: bold;
}

html body .App .map .mapContainer .mapboxgl-popup-content {
  color: #ff5e62;
}

html body .App .map .mapContainer .mapboxgl-marker :hover {
  cursor: pointer;
}

html body .App .map .location-animation-appear {
  opacity: 0;
}

html body .App .map .location-animation-appear-active {
  opacity: 1;
  -webkit-transition: opacity 2000ms linear;
  transition: opacity 2000ms linear;
}

html body .App .map .location-animation-enter {
  opacity: 0;
}

html body .App .map .location-animation-enter-active {
  opacity: 1;
  -webkit-transition: opacity 2000ms linear;
  transition: opacity 2000ms linear;
}

html body .App .map .location-animation-exit {
  opacity: 1;
}

html body .App .map .location-animation-exit-active {
  opacity: 0;
  -webkit-transition: opacity 2000ms linear;
  transition: opacity 2000ms linear;
}

html body .App .map .location-animation-exit-done {
  opacity: 0;
  -webkit-transition: opacity 2000ms linear;
  transition: opacity 2000ms linear;
}

html body .App .map #dynamicLocation {
  display: inline-block;
  padding: 5px 10px 5px 15px;
  border: 2px solid aliceblue;
  color: aliceblue;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 30px 30px 30px 30px;
  letter-spacing: 7px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff9966), to(#ff5e62));
  background-image: linear-gradient(to right, #ff9966, #ff5e62);
  margin: 20px 20px;
}

html body .App .map #locInfo {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  height: 200px;
  width: auto;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border: 2px solid aliceblue;
  color: aliceblue;
}

html body .App footer {
  font-family: "Quicksand", sans-serif;
  font-size: smaller;
  color: aliceblue;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/*# sourceMappingURL=main.css.map */