html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    background-color: aliceblue;

    body {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        background-color: rgb(51, 51, 51);
        .App {
            height: 100%;
            width: 100%;
            background-color: rgb(51, 51, 51);

            .Greeting {
                // background-image: url("../Images/dunes.jpg");
                background: linear-gradient(#ff9966, #ff5e62);
                background-size: cover;
                width: 100%;
                height: 21.5rem;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                // border-top-left-radius: 10px;
                // border-top-right-radius: 10px;

                .Container {
                    position: relative;
                    width: 100%;
                    height: 100%;

                    .Message {
                        padding: 0.5rem 1rem 0.5rem 1rem;
                        margin: 0;
                        border-radius: 40px;
                        background-color: rgba(0, 0, 0, 0.308);
                        color: rgba(240, 248, 255, 0.918);

                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -160%);

                        text-align: center;
                        letter-spacing: 2px;
                        font-weight: normal;
                        font-size: 1rem;

                        #Separator {
                            margin: 0;
                            padding: 0;
                        }

                        p {
                            margin: 0;
                            padding: 0.5rem 1rem 0.5rem 1rem;
                        }
                    }

                    .link-container {
                        text-align: center;
                        .links {
                            text-align: center;
                            padding: 0;
                            margin: 0;
                            margin-bottom: 10px;
                            position: absolute;
                            top: 70%;
                            left: 50%;
                            transform: translate(-50%, -50%);

                            text-decoration: none;
                            list-style-type: none;
                            overflow: hidden;

                            width: 100%;
                            @media screen and (max-width: 700px) {
                                transform: translate(-50%, -90%);
                            }

                            .link-item {
                                display: inline-block;
                                padding-left: 0.4rem;
                                padding-right: 0.4rem;
                                margin: 0;
                                margin-bottom: 10px;

                                .fab {
                                    padding: 10px;
                                    font-size: 15px;
                                    width: 15px;
                                    text-align: center;
                                    text-decoration: none;
                                    margin: 5px 2px;
                                    border-radius: 30%;
                                    transition: padding 0.4s ease-in-out;
                                }

                                .far {
                                    padding: 10px;
                                    font-size: 15px;
                                    width: 15px;
                                    text-align: center;
                                    text-decoration: none;
                                    margin: 5px 2px;
                                    border-radius: 30%;
                                    transition: padding 0.4s ease-in-out;
                                }

                                .fa-linkedin-in {
                                    // background: #007bb5;
                                    border: 2px solid white;
                                    color: aliceblue;

                                    // **** Could insert animation here to increase
                                    // padding to 15-ish smoothly like navbar.
                                }

                                .fa-gitlab {
                                    // background-color: orangered;
                                    // color: black;
                                    // border: 1px solid black;
                                    border: 2px solid white;
                                    color: aliceblue;
                                }
                                .fa-envelope {
                                    // background: #D44638;
                                    border: 2px solid white;
                                    color: aliceblue;
                                }

                                .fa-user {
                                    border: 2px solid white;
                                    color: aliceblue;
                                }

                                :hover {
                                    // opacity: 0.8;
                                    padding: 15px;
                                    // box-shadow: inset 0 0 50px #fff,
                                    //     inset 20px 0 80px #f0f,
                                    //     inset -20px 0 80px #0ff,
                                    //     inset 20px 0 300px #f0f,
                                    //     inset -20px 0 300px #0ff, 0 0 50px #fff,
                                    //     -10px 0 80px #f0f, 10px 0 80px #0ff;
                                }
                            }
                        }
                    }
                }

                .navbar {
                    position: relative;
                    padding: 0;
                    margin: 0 auto;
                    width: 80%;
                    height: 4rem;
                    background-color: #333333;
                    border-bottom-style: solid;
                    border-bottom-width: 0.5px;
                    border-bottom-color: black;
                    border-bottom-left-radius: 25px;
                    border-bottom-right-radius: 25px;

                    text-align: center;

                    @media screen and (max-width: 700px) {
                        height: 5.5rem;
                    }

                    .nav {
                        padding: 0;
                        margin: 0;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        text-decoration: none;
                        list-style-type: none;
                        overflow: hidden;

                        width: 100%;

                        li {
                            background: none;
                            margin: 0 3rem 0 3rem;
                            padding: 0.5rem 1rem 0.5rem 1rem;
                            display: inline-block;
                            cursor: pointer;

                            // Keeps the elements of the nav bar from
                            // shifting under hover state.
                            border: 1px solid transparent;
                            border-radius: 0 0 0 0;
                            text-decoration: none;
                            color: aliceblue;
                            letter-spacing: 2px;
                            transition: letter-spacing 0.5s ease-in-out;
                            -webkit-transition: letter-spacing 0.5s ease-in-out;

                            @media screen and (max-width: 700px) {
                                margin: 0 0.5rem 0 0.5rem;
                                padding: 0.5rem 1rem 0.5rem 1rem;
                            }
                            // Animation for hover out
                            // animation: out 2.5s ease-out forwards;
                            // animation-delay: 0s;
                        }

                        li:hover {
                            border: 2px solid aliceblue;
                            font-weight: bolder;
                            border-radius: 30px 30px 30px 30px;
                            letter-spacing: 7px;
                            background-image: linear-gradient(
                                to right,
                                #ff9966,
                                #ff5e62
                            );
                            
                        }
                    }
                }
            }

            .page-content {
                .grid-animation-appear {
                    opacity: 0;
                }
                .grid-animation-appear-active {
                    opacity: 1;
                    transition: opacity 2000ms linear;
                }
                .grid-animation-enter {
                    opacity: 0;
                }
                .grid-animation-enter-active {
                    opacity: 1;
                    transition: opacity 2000ms linear;
                }
                .grid-animation-exit {
                    opacity: 1;
                }
                .grid-animation-exit-active {
                    opacity: 0;
                    transition: opacity 2000ms linear;
                }
                .grid-animation-exit-done {
                    opacity: 0;
                    transition: opacity 2000ms linear;
                }

                .grid-container {
                    display: -ms-grid;
                    display: grid;
                    padding: 40px 20px 40px 20px;
                    -ms-grid-columns: (3, 1fr);
                    grid-template-columns: repeat(3, 1fr);
                    grid-column-gap: 40px;
                    grid-row-gap: 40px;
                    text-align: center;
                    color: #ff5e62;

                    @media screen and (max-width: 700px) {
                        grid-template-rows: auto auto auto;
                        grid-template-columns: none;
                    }

                    .grid-item {
                        position: relative;
                        border: 2px solid aliceblue;
                        border-radius: 40px;
                        -webkit-border-radius: 40px;
                        -moz-border-radius: 40px;
                        height: 450px;
                        color: rgb(78, 81, 83);
                        overflow: hidden;

                        @media screen and (max-width: 700px) {
                            height: 300px;
                        }

                        #musicChoice {
                            cursor: pointer;
                        }

                        h3 {
                            display: inline-block;
                            padding: 5px 10px 5px 10px;
                            border: 2px solid aliceblue;
                            color: aliceblue;
                            font-size: 16px;
                            font-weight: bolder;
                            border-radius: 30px 30px 30px 30px;
                            letter-spacing: 7px;
                            width: fit-content;
                            background-image: linear-gradient(
                                to right,
                                #ff9966,
                                #ff5e62
                            );

                            margin: 1rem;
                        }
                    }

                    // Use timeout function in component to simplify the sequential animation

                    .music {
                        max-height: calc(100% - 1rem - 5px - 38px);
                        overflow-y: scroll;
                        -webkit-overflow-scrolling: touch;
                    }

                    .music::-webkit-scrollbar {
                        display: none;
                        -webkit-overflow-scrolling: touch;
                    }

                    .music {
                        -ms-overflow-style: none;
                    }

                    #home {
                        #skills div {
                            display: inline-block;
                            text-align: center;
                        }
                    }
                }
            }

            .map {
                text-align: center;
                #mapMsg {
                    display: inline-block;
                    padding: 5px 10px 5px 15px;
                    border: 2px solid aliceblue;
                    color: aliceblue;
                    font-size: 16px;
                    font-weight: bolder;
                    border-radius: 30px 30px 30px 30px;
                    letter-spacing: 7px;
                    width: fit-content;
                    background-image: linear-gradient(
                        to right,
                        #ff9966,
                        #ff5e62
                    );

                    margin: 20px 20px;
                }
                .mapContainer {
                    // ********* IMPORTANT ************
                    //  These next 4 lines are ersponsible for styling the map
                    // canvas. Withouth them this website's map does not properly
                    // abide by the rounded borders.

                    .mapboxgl-canvas {
                        border-radius: 40px;
                        -webkit-border-radius: 40px;
                        -moz-border-radius: 40px;
                    }

                    .mapboxgl-popup {
                        letter-spacing: 1px;
                        font-weight: bold;
                    }

                    .mapboxgl-popup-content {
                        color: #ff5e62;
                    }

                    .mapboxgl-marker {
                        :hover {
                            cursor: pointer;
                        }
                    }

                    margin-left: 20px;
                    margin-right: 20px;

                    height: 400px;
                    width: auto;
                    border-radius: 40px;
                    -webkit-border-radius: 40px;
                    -moz-border-radius: 40px;
                    border: 2px solid aliceblue;
                    margin-bottom: 1rem;
                }

                .location-animation-appear {
                    opacity: 0;
                }
                .location-animation-appear-active {
                    opacity: 1;
                    transition: opacity 2000ms linear;
                }
                .location-animation-enter {
                    opacity: 0;
                }
                .location-animation-enter-active {
                    opacity: 1;
                    transition: opacity 2000ms linear;
                }
                .location-animation-exit {
                    opacity: 1;
                }
                .location-animation-exit-active {
                    opacity: 0;
                    transition: opacity 2000ms linear;
                }
                .location-animation-exit-done {
                    opacity: 0;
                    transition: opacity 2000ms linear;
                }

                #dynamicLocation {
                    display: inline-block;
                    padding: 5px 10px 5px 15px;
                    border: 2px solid aliceblue;
                    color: aliceblue;
                    font-size: 16px;
                    font-weight: bolder;
                    border-radius: 30px 30px 30px 30px;
                    letter-spacing: 7px;
                    width: fit-content;
                    background-image: linear-gradient(
                        to right,
                        #ff9966,
                        #ff5e62
                    );

                    margin: 20px 20px;
                }

                #locInfo {
                    text-align: center;
                    margin-left: 20px;
                    margin-right: 20px;
                    height: 200px;
                    width: auto;
                    border-radius: 40px;
                    -webkit-border-radius: 40px;
                    -moz-border-radius: 40px;
                    border: 2px solid aliceblue;

                    color: aliceblue;
                }
            }

            footer {
                font-family: "Quicksand", sans-serif;
                font-size: smaller;
                color: aliceblue;
                text-align: center;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }
    }
}
